// Colors

$cyan: #00A2D9;
$berry: #B7295A;
$green: #7AB800;
$yellow: #F2AF00;
$accentColor: $green;
$bgColor: #FFF;

$headerHeight: 3.5rem;
$footerHeight: 1.5rem;
$downShadow: 0 2px 10px rgba(0,0,0,.3);
$upShadow: 0 -2px 10px rgba(0,0,0,.3);

body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  min-height: 100vh;
  height: 100vh;
  font-family: Raleway, sans-serif;
  overflow: hidden;
}
.preloader {
  position: absolute;
  pointer-events: none;
  transition: all .2s;
  background: rgba(0,0,0,.85);
  width: 100%;
  height: 100vh;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgba(255,255,255,.5);
  flex-direction: column;
  .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: $yellow;
  
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      transform: scale(0);
    } 40% { 
      transform: scale(1.0);
    }
  }
}
.flickity-page-dots {
  display: none;
}
header {
  font: {
    family: 'Playfair Display', cursive;
    size: 2rem;
    weight: 900;
    style: italic;
  }
  text-shadow: 0 0 5px rgba(0,0,0,.5);
  color:#FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height:$headerHeight;
  background:$berry;
  span {
    font-weight: 400;
    display: inline-block;
    margin: 0 .5rem;
  }
  box-shadow: $downShadow;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  z-index: 9;

}
main {
  display: flex;
  overflow: hidden;
  height: 100%;
  .selection {
    overflow: hidden;
    cursor: pointer;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
    background: {
      size: cover;
      position: center;
    }
    h1 {
      pointer-events: none;
      font-size: 4rem;
      color:#FFF;
      text-shadow: 0 0 20px rgba(0,0,0,.4);
    }
    a {
      text-decoration: none;
    }
  }
  .photos {
    z-index: 3;
    background-image: url("b-and-y.jpg");
  }
  .videos {
    position: relative;
    z-index: 0;
    video#video-bg {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
    }
    h1 {
      z-index: 10;
    }

  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .selection {
      height: auto;
    }
  }
}
footer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font: {
    family: Raleway;
    size: 0.7rem;
  }
  display: flex;
  height: $footerHeight;
  background: #333;
  box-shadow: $upShadow;
  justify-content: center;
  align-items: center;
  z-index: 12;
}

.photoViewer, .videoViewer {
  transition: opacity 0.5s ease-in-out;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.9);
  opacity: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color:#FFF;
  .auto-play, .close-photo, .close-video {
    cursor: pointer;
    position: absolute;
    top: 0; 
    width: 2rem;
    height: 2rem;
    z-index: 10;
    display: flex;
    color:#FFF;
    font-size: 1.5rem;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 50%;
    opacity: .5;
  }
  .close-photo, .close-video {
    right: 0;
  }
  .auto-play {
    left: 0;
  }
  .main-carousel {
    width: 100%;
    height: 100%;
    .flickity-viewport {
      height: 100%!important;
    }
  }
  display: none;
  .carousel-cell {
    text-align: center;
    width: 100%; /* full width */
    height: 100%; /* height of carousel */
    background: {
      size: cover!important; 
      position: center!important; 
      repeat: no-repeat!important;
    }
    video {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
    }
  }
  .flickity-button {
    opacity: .3;
  }

}